:root {
    /*Primary*/
    --orange: hsl(25, 97%, 53%);

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font style */

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

strong, b {
    font-weight: 700;
}

/* Component style */

.card-container {
    border: 1px lime solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #141519;
    height: 600px;
}

.rating-card {
    background-image: radial-gradient(circle at 50% -50% , var(--dark-blue) 35%, var(--very-dark-blue));
    color: var(--white);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    padding: 1.5rem;
    /*position: relative;*/
    /*left: 25%;*/
    /*top: 25%;*/
}

.star-button{
    background-color: var(--dark-blue);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.2rem;
}

.rating-card h1{
    margin-bottom: 1rem;
}

.rating-card p{
    color: var(--light-grey);
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.score-pool{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.score-balloon{
    background-color: var(--dark-blue);
    color: var(--light-grey);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.submit-button{
    background-color: var(--orange);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: var(--very-dark-blue);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}