:root {
    /*Primary*/
    --orange: hsl(25, 97%, 53%);

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font style */

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

strong, b {
    font-weight: 700;
}

/* Component style */

.card-frame {
    border: 1px lime solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #141519;
    height: 100vh;
}

.rating-card {
    background-image: radial-gradient(circle at 50% -50% , var(--dark-blue) 35%, var(--very-dark-blue));
    color: var(--white);
    width: 400px;
    /*height: 400px;*/
    border-radius: 20px;
    padding: .5rem;
    /*position: relative;*/
    /*left: 25%;*/
    /*top: 25%;*/
}

.rating-content{
    /*display: none;*/
    border: 1px solid crimson;
}

.star-button{
    background-color: var(--dark-blue);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.2rem;
    border: 1px solid rebeccapurple;
}

.rating-card p{
    color: var(--light-grey);
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.score-pool{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border: 1px lightsalmon solid;
}

.score-button{
    background-color: var(--dark-blue);
    color: var(--light-grey);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: none;
}

.score-button:hover {
    background-color: var(--orange);
    color: white;
    cursor: pointer;
}

.score-button.active {
    background-color: var(--light-grey);
    color: var(--very-dark-blue);
}

.submit-button{
    background-color: var(--orange);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: var(--very-dark-blue);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.submit-button:hover{
    border: 1px white solid;
    background-color: white;
}

.thanks {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border: 1px red solid;
}

.thanks img {
    border: 1px yellow solid;
}

.thanks h1 {
    border: 1px green solid;
}

.thanks p {
    border: 1px blue solid;
    text-align: center;
    color: var(--light-grey);
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.thanks.active{
    display: block;
}

.thanks span{
    display: inline-block;
    color: var(--orange);
    background-color: var(--dark-blue);
    padding: 0.6rem 0.9rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.thanks h1{
    color: white;
}